<h1>Welcome to the Library</h1>

"This is an example of using quotes and nothing breaking."

Because ERB isn't ruby code.

<%= 2 + 2 %>

<a href=\"https://google.com\">Go to google this site sucks</a>

<a href="/books">List of Books</a>
<a href="/authors/new">Add a new author</a>