<h1>New Student</h1>

<%= form_tag(students_path) do %>
  <%= text_field_tag(:name) %>
  <%= collection_select(nil, :cohort_id, Cohort.all, :id, :name) %>
  <%= submit_tag("Save Student") %>
<% end %>