<h1>List of Titles</h1>

<ul>
  <% @books.each do |book| %>
    <a href="/books/<%= book.id %>">
      <li><%= book.author.full_name %> - <%= book.title %></li>
    </a>
  <% end %>
</ul>

<a href="/books/new">Add a book</a>